table#lihtne1{
    border : 1px solid black;
    width : 30%;
    height : 100px;
    text-align: center ;
}
td{
    border : 1px solid black;
}
table#keeruline1{
    border : 1px solid black;
    width : 100px;
    height : 200px;
    text-align: center ;
    border-collapse: collapse;

}
table#keeruline2{
    border : 1px solid black;
    width : 200px;
    height : 200px;
    text-align: center ;
    vertical-align: top;
    border-collapse: collapse;
}
table#keeruline2 td{
    vertical-align: top;
    border: 1px solid red;
}
.nimina{
    border : 1px solid black;
    Background-color: yellow;
}